.row{
    justify-content: center;
}

.display-4 {
    text-align: center;
}

.col-4 {
    justify-content: center;
    align-items: center;
}

.rps {
    flex-grow: 1;
}

.rps-image {
    height: 114px;
    font-family: 'Times New Roman', Times, serif;
}